@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
*{
padding:0;
margin:0;
box-sizing: border-box;
}

body{
  background-color: #d1cfbf;
 
  padding-left: 5%;
padding-right: 5%;
width:500px;
display: flex;
justify-content: center;
margin: auto;
padding-top:7%;


}

button{
width:150px;
height:70px;
font-size:x-large;
background-color: #F0A500;
color: white;
border: 1px solid rgba(182, 84, 92, 0.74);
font-family: 'Luxurious Roman', cursive;
opacity: 0.8;
}
button:hover{
  cursor: pointer;
  border:2px solid #E6D5B8;
  color:#E45826;
  
}
input{
  width:450px;
  height:70px;
  font-size:30px;
  border:5px solid black;
  background-color: black;
  color:#F0A500;
  font-family: 'Luxurious Roman', cursive;
}
input:focus{
  outline: none;
}
input:hover{
  border:3px solid rgb(180, 55, 55);
}
.equal{
  background-color: white;
  color:rgb(255, 0, 85);
  
}
.equal:hover{
  background-color: #E45826;
  color:white;
}
.c{
  width:300px;
  background-color: grey;
}
.c:hover{
  border:2px solid white;
}
.contain{
  box-shadow: 0 3px 3px rgb(255, 0, 85);
}

.footer{
  margin-top:80px;
  font-family: 'Luxurious Roman', cursive;

  color:rgb(99, 89, 89);
   
}