@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
*{
padding:0;
margin:0;
box-sizing: border-box;
}

body{
  background-color: #E2D784;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  padding-left: 5%;
padding-right: 5%;
width:500px;
display: flex;
justify-content: center;
margin: auto;
padding-top:7%;


}

button{
width:150px;
height:70px;
font-size:x-large;
background-color: #F0A500;
color: white;
border: 1px solid rgba(182, 84, 92, 0.74);
font-family: 'Luxurious Roman', cursive;
opacity: 0.8;
}
button:hover{
  cursor: pointer;
  border:2px solid #E6D5B8;
  color:#E45826;
  
}
input{
  width:450px;
  height:70px;
  font-size:30px;
  border:5px solid black;
  background-color: black;
  color:#F0A500;
  font-family: 'Luxurious Roman', cursive;
}
input:focus{
  outline: none;
}
input:hover{
  border:3px solid rgb(180, 55, 55);
}
.equal{
  background-color: white;
  color:rgb(255, 0, 85);
  
}
.equal:hover{
  background-color: #E45826;
  color:white;
}
.c{
  width:300px;
  background-color: grey;
}
.c:hover{
  border:2px solid white;
}
.contain{
  box-shadow: 0 3px 3px rgb(255, 0, 85);
}
h2{
  border:3px solid rgb(209, 167, 28);
  font-family: 'Luxurious Roman', cursive;
  background-color: #000000;
  color:goldenrod;
   
}